@using System.Reflection;
@using WebApp.DTO;
@model List<ProductResponseDTO>;
@{ViewData["Title"]="Index";}



<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductResponseDTO product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">Details</a>
                <td><a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                <td><a asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
            </td>
            </tr>
        }
    </tbody>
</table>